.hello{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.net{
    margin-top: 150px;
}


.price{
    color: #ff725e;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




.Finance{
    width: 30%;
}


.bod{
    border: 5px solid brown;
    border: none;
    width: 400px;
    background-color: #e0e0e0;
    border-top-right-radius: 200px;
}



.fes{
    font-size: 40px;
}


.trans{
    width: 80px;
}


.input{
    border: 1px solid #e0e0e0;
}


.form-control{
    background-color: #ff725e;
    color: white;
    font-weight: bolder;
}